.wallet {
  padding: 0rem 0.6rem;
  width: 20rem;
  height: 6rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background: var(--blue);
}

// Algunos estilos provocan que imagen de cerrado y de regreso dentro del
// modal del login se vean mas grandes, por lo que se
// agregan estas lineas.
.w3a-header__button, .w3ajs-close-btn {
  width: 2em;
  height: 2em;
}
.w3a-external-back, .w3ajs-external-back{
  width: 2em;
  height: 2em;
}